.nav__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 2.1rem;
  height: 4rem;
  /* background-color: #678983; */
}
.nav__container > h1 {
  cursor: pointer;
}

.nav__links__container ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.nav__links__container li {
  font-size: 1.4rem;
  margin-left: 4rem;
  transition: all 100ms ease;
}

.nav__links__container li:hover {
  transform: scale(1.08);
  opacity: 0.5;
}
