.container {
  height: 20vh;
  position: absolute;
  bottom: 0;
  top: 100%;
  width: 100%;
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* remove */
  background-color: black;
  color: white;
  /* remove^^^ */
}

.listContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  display: flex;
  width: 100%;
  flex-direction: row;
  list-style-type: none;
}

.Listitem {
  /* margin-left: 3rem; */
  cursor: pointer;
}

.Listitem:last-child {
  margin-left: 3rem;
}
