.showcase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #064420;
  padding: 1.1rem;
}

.showcase__button {
  width: 100px;
  background-color: #064420;
  text-decoration: none;
  margin-left: 3rem;
  color: inherit;
}

.showcase__container {
  margin-top: 1rem;
  width: 1000px;
  display: flex;
  justify-content: center;
  text-align: center;
}
